/* -------------------------------------------------------- */
/* MINI CSS RESET */
/* -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------- */
/* DEFINE VARIABLES */
/* -------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&family=Manrope:wght@200&display=swap");

:root {
  --main-font: "Manrope", sans-serif;
  --title-font: "Courier Prime", monospace;

  --main-color: white;
  --secondary-color: #501b1d;
  --accent: #83677b;
}

/* -------------------------------------------------------- */
/* GLOBAL STYLES */
/* -------------------------------------------------------- */

body {
  font-family: var(--main-font);
  width: 90%;
  margin: 10px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

/* -------------------------------------------------------- */
/* YOUR CUSTOM STYLES */
/* -------------------------------------------------------- */

/* TITLE */

.title {
  text-align: center;
  font-weight: 900;
  margin: 30px;
}

.title span {
  color: var(--secondary-color);
}

.sub {
  background-color: black;
  color: white;
  padding: 8px;
}

/* THE CARDS */

main {
  width: 95%;
  min-width: 310px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
}

main .card {
  width: 28%;
  min-width: 320px;
  padding: 5px;
  border: 2px solid var(--accent);
  margin: 2%;
}

main .card h2 {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

main .card img {
  display: block;
  width: 80%;
  height: 300px;
  margin: 8px auto;
}

main .card p {
  padding: 5px;
  width: 80%;
  margin: 0 auto;
}

.contact h2 {
  text-align: center;
}

.contact h4 {
  text-align: center;
}

@media(max-width: 500px){
  .title {
    font-size: 1.5em;
    margin: 0
  }

  .sub {
    display: none;
    margin: 10px;
  }

  main {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 3px auto;
  }

  main .card h2 {
    font-size: 1.2em;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--main-color);
  }

  main .card {
    width: 80%;
    max-width: 230px;
    min-width:230px;
    padding: 2px;
    border: 2px solid var(--accent);
    margin: 0 auto;
  }

  main .card img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 2px auto;
  }

  .contact h2 {
    font-size: .6em;
  }
  .contact h4 {
    font-size: .5em;
  }
}

@media(max-width: 300px){
  .title {
    font-size: 1.5em;
    margin: 0
  }

  .sub {
    display: none;
    margin: 10px;
  }

  main {
    max-width: 220px;
    min-width: 220px;
    display: flex;
    flex-wrap: wrap;
    margin: 3px auto;
  }

  main .card h2 {
    font-size: 1.2em;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--main-color);
  }

  main .card {
    width: 80%;
    max-width: 210px;
    min-width:210px;
    padding: 2px;
    border: 2px solid var(--accent);
    margin: 0 auto;
  }

  main .card img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 2px auto;
  }

  .contact h2 {
    font-size: .6em;
  }
  .contact h4 {
    font-size: .5em;
  }
}